html, body, div, img, li, form, fieldset, input, textarea, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, table, blockquote, hr, td, tr, table {
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
}

ul {
    list-style: none outside none;
}

body {
    text-align: center;
    background: url('fond2.jpg') #111014 no-repeat top center fixed;
    background-size: cover;
    color: white;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}

a {
    color: #b0a078;
    text-decoration: none;
}

#globaldiv {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1256px;
    height: 768px;
    margin-top: -384px;
    margin-left: -628px;
    text-align: left;

    z-index: 1;
}

#leftblock {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 230px;
    height: 748px;
    background: url(leftmenu.png) #1c0c00;
    border: 1px solid #b0a078;
}

#leftblock #menuleft {
    position: relative;
    margin-top: 83px;
    -margin-top: 89px;
    padding-left: 34px;
    font-size: 12px;
}

#leftblock h1 {
    margin-top: 100px;
    padding-left: 30px;
}

#leftblock ul {
    margin-bottom: 12px;
}

#leftblock ul li {
    line-height: 25px;
}

#leftblock ul li ul li {
    line-height: 18px;
}

#leftblock ul li ul {
    -margin-top: 12px;
    margin-left: 14px;
    font-size: 10px;
}

#leftblock li a:hover {
    color: white;
}

#leftblock .active>a {
    color: white;
}

#centerblock {
    position: absolute;
    top: 0px;
    right: -2px;
    width: 1026px;
    height: 748px;
    border-top: 1px solid #b0a078;
    border-right: 1px solid #b0a078;
}

#middle {
    position: absolute;
    top: 20%;
    height: 50%;
    width: 1006px;
    margin: 10px;
    background-color: white;
    opacity: 0.4;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#centerleft {
    opacity: 1;
    position: relative;
    top: 0;
/*    padding: 5px;*/
    margin: 5px;
    width: 300px;
    height: 100%;
    background: transparent url('majorisor.png') no-repeat top center;
    border: 1px solid #9b421e;
}

.legende{
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: #1c0c00;
    font-weight: bold;
}

#caracteristique {
    position: absolute;
    top: 0;
    left: 320px;
    width: 300px;
    padding: 5px;
    margin: 5px;
    background: #f3ecda;
    border: 1px solid #9b421e;
    color: #1c0c00;
}

#choix {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    width: 300px;/*
    height: 90%;*/
    background: #f3ecda;
    border: 1px solid #9b421e;
    color: #1c0c00;
}

.bag {
    vertical-align: middle;
}

#footermenu {
    clear: both;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 19px;
    border: 1px solid #b0a078;
    background-color: #1c0c00;
    line-height: 19px;
    text-align: center;
    font-size: 10px;
}

#footermenu ul li {
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
    color: white;
}

#footermenu li a:hover {
    color: white;
}

.fb {
    position: absolute;
    height: 18px;
    width: 18px;
    background: #1c0c00 url('social_sprite.png') 0 -17px no-repeat;
}
.fb:hover {
    background-position: 0 1px;
}

.twitter {
    margin-left: 20px;
    position: absolute;
    height: 18px;
    width: 18px;
    background: #1c0c00 url('social_sprite.png') -20px -16px no-repeat;
}

.twitter:hover {
    background-position: -20px 2px;
}